@import url("https://fonts.googleapis.com/css?family=Open+Sans");

main {
  background: #111;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

header {
  color: #fff;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1200px;

  h1 {
    text-indent: -9999rem;
    background: url("/logo.png") no-repeat center;
    height: 58px;
    background-size: contain;
    text-align: center;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

section {
  padding: 4rem;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    line-height: 1.4rem;
  }
}

.tile {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2rem;
  display: flex;
  align-items: center;

  &:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 100%;
    max-width: 800px;
    width: 90%;
  }

  .tile {
    grid-column: auto !important;
    margin-bottom: 2rem;
  }
}
